input {
  keyboard {
    xkb {
      layout "us"
    }

    repeat-delay 400
		repeat-rate 60
    numlock
  }

  touchpad {
    tap
    natural-scroll
  }

  focus-follows-mouse
  workspace-auto-back-and-forth

	mouse {
		accel-profile "flat"
		accel-speed 0.3
	}
}
